# Auto detect text files and perform LF normalization
* text=auto
studentVle.csv filter=lfs diff=lfs merge=lfs -text
/Users/amorimriki/Documents/GitHub/Projeto-I-PSA/uci-open-university-learning-analytics-dataset/studentVle.csv filter=lfs diff=lfs merge=lfs -text
